# Server
PORT=3000

# PostgreSQL (for user data)
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres123
PG_DB=taskmanager

# MongoDB (for task data)
MONGO_URI=mongodb://localhost:password/taskmanager

# JWT secret 
JWT_SECRET=paste_your_secret_key
